@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: 'IBM Plex Mono', monospace;
}

.terminal {
  font-family: 'IBM Plex Mono', monospace;
  caret-color: white;
}

.custom-shadow {
  box-shadow: 0px 8px 10px 2px rgb(0, 0, 0, 0.50);
}

.complete {
  line-height: 1.4 !important;
}

.spotlight-wrapper {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spotlight {
  height: 50px;
  width: 700px;
}

.hints {
  left: 50%;
  transform: translate(-50%, 0%);
}
